<section id="footer">
    <div class="row">
        <div id="logo" class="col-3 dflex">
            <img src="../../assets/img/logo-footer.svg" alt="">
        </div>

        <div class="col-3 dflex">
            <div class="text-container">
                <div class="title">LIBERECO</div>
                <div class="sub-title">info@libereco.com.ar</div>
                <div class="sub-title">Vedia, pcia. de Buenos Aires</div>
                <div class="sub-title"><a style="color:black" href="https://libereco.com.ar/legales" target="_blank">Legales</a>
                </div>
            </div>
        </div>

        <div class="col-3 dflex">
            <div class="text-container mb-3">
                <div class="title">RED DE FRANQUICIAS</div>
                <div class="sub-title"><a style="color:black" href="http://45.186.47.18:8080/" target="_blank">Ingresar</a></div>
                <div class="sub-title"><a style="color:black" href="https://configuracion.libereco.com.ar" target="_blank">Configuración</a>
                </div>
            </div>
        </div>

        <div class="col-3 dflex">
            <div class="text-container  text-container2 ">
                <div class="title"> <br><br></div>
                <div class="sub-title">© 2020 Libereco Helados & Café.</div>
            </div>
        </div>

    </div>

</section>