.env
.idea/
.vscode/
node_modules/
build/
tmp/
temp/
node_modules/*
npm-debug.log
packages/*/lib
packages/*/node_modules
../.idea
.env*
!.env.example
lib
yarn-error.log
yarn.lock
package-lock.json
.nyc_output
coverage
docs
src/public

vin_uploads

src/API/Config/service.json

lib_uploads/
lib_uploads/*