<section id="basic-form-layouts">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Cambiar contraseña </div>
        </div>
    </div>

    <div class="row text-left">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-content">
                    <div class="px-3">
                        <form class="form" [formGroup]="form">
                            <div class="form-body mt-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="titulo">Contraseña actual</label>
                                            <input type="password" id="titulo" class="form-control border-primary"
                                                placeholder="Ingrese su contraseña actual"
                                                [formControl]="form.controls['oldPassword']">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput6">Contraseña nueva</label>
                                            <input type="password" placeholder="Ingrese la contraseña nueva" 
                                            class="form-control border-primary" [formControl]="form.controls['newPassword']">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="descripcion">Confirmar contraseña</label>
                                            <input type="password" placeholder="Repita la contraseña nueva" class="form-control border-primary"
                                                [formControl]="form.controls['confirmPassword']">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="form.controls['confirmPassword'].errors?.MatchPassword">
                                <p>Las contraseñas no coinciden.</p>
                            </div>
                            <div *ngIf="onErrorResponse">
                                <p>{{onErrorResponseMsg}}</p>
                            </div>
                            <div class="form-actions center">
                                <button *ngIf="!changingPassword" (click)="changePassword()" class="btn btn-raised btn-warning shadow-z-2" [disabled]="!form.valid">
                                    <i class="fa fa-check-circle mr-2"></i>
                                    Actualizar
                                </button>
                                <button *ngIf="changingPassword" disabled class="btn btn-raised btn-warning shadow-z-2">
                                    <div class="center-vertical-horizontal">
                                        <i class="fa fa-check-circle mr-2"></i>
                                        Actualizando
                                    </div>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>