<div class="container">
    <div class="header-repeat"></div>
    <div class="content">
        <section class="main-section">
            <div class="text-header texto">
                <span>Términos y Condiciones Generales</span>
            </div>
        </section>
        <p>El acceso a esta App y la utilización de sus servicios están sujeto a los términos y condiciones generales que se establecen a continuación, y a las de índole particular que puedan aparecer en una determinada página del mismo (“los Términos y
            Condiciones”).
        </p>
        <p>De continuar Ud. (el “Usuario”) la visita de esta App, se entenderá que presta su conformidad con los Términos y Condiciones, y ha dado expresamente su consentimiento de acuerdo a lo establecido en la Ley de Protección de Datos Personales N 25.326,
            Art. 5 sgtes y cc. para que el Titular haga tratamiento, cesión y/o transferencia de sus datos personales sin limitación alguna.</p>
        <p>Estos Términos y Condiciones están sujetos a modificaciones, las que entrarán en vigencia a partir del momento en que sean publicadas en esta App o notificadas al Usuario, lo que ocurra primero.</p>

        <p>(NOTA: las páginas deberán incorporar las funcionalidades pertinentes que permitan al usuario de la App brindar acuerdo o no acuerdo (“Acepto” o “No Acepto”) ante cualquier instancia de transacción relevante entre el usuario y las mencionadas
            páginas)
        </p>

        <p><b>1. El Servicio:</b></p>

        <p>El servicio provisto por LIBERECO ("el Titular") consiste en informar a todo usuario de la App web www.liberecohelados.com.ar del Programa LIBERECO (en adelante “el usuario”, “los usuarios”), que su uso se encuentra sujeto a los Términos y Condiciones
            que se consignan en el presente. <br><br> El usuario que accede a esta App web declara conocer y aceptar los términos y condiciones relativos a su utilización. El contenido del presente deberá́ ser leído cuidadosamente antes del acceso o uso
            de esta App de internet. El acceso a cualesquiera de las áreas de esta App, visita, participación, suministro de datos, utilización y/o navegación en la App web implica por parte de los usuarios el conocimiento, consentimiento y aceptación
            plenos y expresos de los términos y condiciones de uso de la App que aquí́ se establecen, con la consiguiente obligación de respetar las previsiones contenidas en el presente. <br><br> De no estar de acuerdo con lo anteriormente expuesto,
            deberán abstenerse de utilizar la App web y de proporcionar cualquier clase de información personal a través del mismo. <br><br> Si Ud. no desea aceptar estos términos y condiciones no podrá́ acceder a esta App. <br><br> La información contenida
            en la App proviene de varias fuentes, entre las que se cuentan los propios Usuarios del Servicio. Dicha información no puede considerarse exhaustiva, completa, o que satisfará todas las necesidades del Usuario. En su gran mayoría, esa información
            está meramente destinada a permitir al Usuario el acceso a una mayor cantidad de datos sobre el tema de su interés, los que generalmente son provistos por terceros, sin un efectivo control por parte del Titular, por lo que se sugiere al Usuario
            que lea con especial cuidado estos Términos y Condiciones. <br><br>
        </p>

        <b>1.1. Responsabilidad por la Información contenida en el Servicio:</b>
        <p>
            El Titular no se responsabiliza por los daños y perjuicios que pudiera ocasionar el uso de la información que provee el Servicio. <br><br> El Titular no garantiza que la información que provee el servicio no haya sido alterada, luego de su
            inserción en la App.
            <br><br> En caso que el Usuario se sienta agraviado o perjudicado por esa información, deberá dirigir su acción exclusivamente contra el proveedor de la misma. En tal supuesto, a pedido del Usuario, el Titular pondrá a su disposición, en la
            medida que los posea, los datos necesarios para que pueda hacer su reclamo.<br><br>
        </p>

        <b>1.2. Responsabilidad por los servicios adquiridos u ofrecidos a través del Servicio:</b>
        <p>El Titular se limita a proveer un medio donde se publican ofertas de Libereco, y en su caso de comunicación entre los Usuarios. <br><br> La App es segura, sin embargo, El Titular no se responsabiliza por: (i) la inviolabilidad de la transmisión
            de los datos cursados por las redes públicas de telecomunicaciones, o (ii) por cualquier otro medio telemático que no administra o que se encuentran fuera de su alcance (en particular los referidos a la tarjeta de crédito u otra forma de pago)
            o (iii) de los mensajes que el Usuario curse con otros Usuarios.<br><br></p>

        <b>1.3. Apps y sitios vinculados:</b>
        <p>El Usuario reconoce que el Titular no tiene control alguno sobre otras Apps o sitios a los que puede acceder a través de links u otro tipo de vinculación telemática (las Apps y Sitios Vinculados). <br><br> Por lo tanto el Titular no se hace responsable
            por el contenido de las Apps Vinculadas.</p>

        <p><b>1.4. Consideraciones varias:</b><br><br>
            <b>i. Equipamiento:</b> El Titular del Servicio no está obligado a proveer ningún equipo o programa de software para acceder al Servicio. El Usuario deberá contar con todos los recursos necesarios para ello, incluidos los de telecomunicaciones.
            <br><br>
            <b>ii. Política de Uso del Servicio: </b> El Usuario acepta la Política de Uso del Servicio establecida seguidamente. El Titular se reserva el derecho de eliminar o modificar cualquier información, comunicación, material de download, o mensaje
            que en su opinión viole la Política de Uso, sin que ello de al Usuario derecho o reclamo alguno. <br><br>
            <b>iii. Derechos de Autor: </b> La información contenida en la App es propiedad intelectual del Titular. La información y los materiales de download sólo podrán ser utilizados siempre que sus fines sean no comerciales. La retransmisión o publicación
            de cualquier elemento contenido en la App se encuentra prohibida sin el previo consentimiento escrito del Titular. En los casos en que se autorice, el Usuario deberá citar al autor como fuente y no podrá modificar este material. La información
            contenida en la App es propiedad intelectual del Titular, y podrá ser consultada por el Usuario para su uso personal, privado y no lucrativo, siempre que en todo caso se indique el origen y/o autor de los mismos y que, en su caso, aparezca
            el símbolo del copyright y/o notas de propiedad industrial del Titular. En ningún caso el acceso a la App implica ningún tipo de permiso, renuncia, transmisión, licencia o cesión total ni parcial de dichos derechos por parte del Titular, salvo
            que se establezca por escrito expresamente lo contrario. El Usuario reconoce y acepta que todos los derechos de propiedad industrial e intelectual sobre los contenidos y/o cualesquiera otros elementos insertados en la App (incluyendo, a modo
            de ejemplo y a título meramente enunciativo y no limitativo, todos aquellos elementos que conforman la apariencia visual, imagen gráfica y otros estímulos sensoriales de las páginas web que conforman la App web ("look and feel", marcas, logotipos,
            nombres comerciales, textos, imágenes, gráficos, diseños, sonidos, bases de datos, software, diagramas de flujo, presentaciones, programas educativos, material de lectura, arquitectura de navegación, así como los códigos fuente de las páginas
            web) pertenecen a CLUB GRIDO y/o a terceros que le han cedido legalmente sus derechos. A tales efectos, se entenderá como App todas aquellas creaciones incorporadas y expresadas por cualquier medio y/o soporte tangible o intangible, conocido
            o por conocer, que sea objeto de protección por las disposiciones normativas vigentes en materia de propiedad intelectual e industrial. Los presentes Términos y Condiciones Generales de Uso de la App no confieren a los Usuarios ningún otro
            derecho de utilización, alteración, explotación, reproducción, distribución o comunicación pública de la App y/o de sus Contenidos distintos de los aquí expresamente previstos. Cualquier otro uso o explotación de cualesquiera derechos estará
            sujeto a la previa y expresa autorización específicamente otorgada a tal efecto por Libereco o el tercero titular de los derechos afectados. Queda terminantemente prohibida la utilización de tales elementos, su total o parcial reproducción,
            comunicación y/o distribución con fines comerciales o lucrativos, así como su modificación, alteración, descompilación y/o cualquier otro acto de explotación de la App, sus páginas y/o de los contenidos que en ellas se incorporan. Para cualquier
            otro uso distinto de los expresamente permitidos, será necesario obtener el consentimiento previo por escrito del titular de los derechos de que se trate.
            <br><br><b>iv. Control de Contenidos: </b> El Titular no controla las comunicaciones y materiales que los Usuarios ingresan al Servicio. El Titular no se hace responsable por el contenido de estas comunicaciones y materiales, sin perjuicio
            de lo cual se reserva el derecho de bloquear el acceso o de eliminar cualquier comunicación o material que considere (a) abusivo, difamatorio, obsceno, falso o engañoso, (b) violatorio de derechos de propiedad intelectual de un tercero o (c)
            violatorio de las disposiciones de la Política de Uso del Servicio, y/o (d) sea contrario a su ideario.<br><br>
            <b>v. Compromiso de Indemnidad: </b> El Usuario se obliga a mantener indemne al Titular, sus dependientes, licenciantes, proveedores y licenciatarios de los daños resultantes (incluyendo los costos de defensa) de cualquier acto o hecho ilícito
            imputable al Usuario o a un tercero que utilice la App. <br><br>
            <b>vi. Jurisdicción y Ley Aplicable: </b> Toda cuestión entre el Titular y el Usuario estará regida por las leyes de la República Argentina, con exclusión de toda norma que remita a la aplicación de una ley extranjera. Cualquier controversia
            será sometida a los Tribunales Ordinarios de la Ciudad de Córdoba.
            <br><br>
            <b>vii. Renuncias: </b> La demora u omisión del Titular en exigir el estricto cumplimiento de estos Términos y Condiciones no podrá interpretarse como renuncia a sus derechos.
            <br><br>
            <b>viii. Nulidad parcial: </b>En caso en que alguna disposición de estos Términos y Condiciones fuera declarada nula, ello no afectará la validez de las demás.<br><br>
            <b>ix. Marcas:</b> Libereco es marca registrada del Titular. Toda otra marca o logotipo que aparezca en la App pertenece al Titular y el Usuario no podrá utilizarlas sin expresa autorización de su propietario. <br><br>
            <b>x. Notificaciones: </b> Las notificaciones al Usuario podrán cursarse por (i) correo electrónico, (ii) comunicaciones generales en las carteleras de información del Servicio, o (iii) por nota enviada por correo al domicilio indicado en
            oportunidad de inscribirse en los Servicios. Las notificaciones del Usuario al Titular del Servicio podrán cursarse por correo electrónico a info@liberecohelados.com.ar o bien por correo con franqueo pagado o courrier al siguiente domicilio:
            <br><br> Libereco Helados Parque industrial°, Lote 19, Vedia, pcia de Bs As PAÍS: República Argentina C.P.: 6030
        </p>

        <p><b>2. Apps y sitios de Terceros:</b> <br><br> A través de las Apps” www.liberecohelados.com.ar, se puede establecer un vínculo con Apps y sitios o servicios de terceros.<br><br> Pese a que inicialmente hemos visitado las Apps vinculadas, nos es
            imposible controlar sus contenidos o los vínculos que a su vez ellos ofrecen, ya que muchos de ellos son permanentemente modificados y tienen su propia política de privacidad. Por ello, aconsejamos que antes de suministrar cualquier tipo de
            información a una App o página web vinculada verifique la política de privacidad que éste aplica.</p>

        <p><b>3. Política de seguridad: </b> La protección de su privacidad y de sus Datos Personales es una de nuestras metas. Hemos tomado todas las medidas a nuestro alcance tecnológico y económico a fin de asegurar su privacidad y la de sus Datos Personales.
            Dentro de esas limitaciones extremamos las precauciones en la transmisión de la información entre su computadora hacia nuestros sistemas, pero ello no asegura que las claves empleadas para proteger su información no puedan ser descifradas.
        </p>

        <p><b>4. Corrección de los Datos Personales: </b> Ud. podrá consultar o acceder a sus Datos Personales libremente archivados en nuestra base de datos conforme lo establece el Art. 13, 14, y sgtes y cc de la Ley de Protección de Datos Personales.Para
            ello, y tal como informamos en oportunidad de registrar la base de datos, le rogamos nos escriba a info@liberecohelados.com.ar <br><br> Luego de consultados los datos, y en caso que los mismos fueran incorrectos, Ud. podrá rectificarlos y/o
            actualizarlos conforme lo establece el Art. 16 de la Ley de Protección de Datos Personales.
        </p>

        <p><b>5. Opción de remoción (“Opt-out”): </b> Siempre que el Titular envíe información electrónica como parte de Servicios se proveerán los medios para que UD. –receptor de esa información- pueda ser removido de la lista de distribución.
        </p>

        <p><b>6. Política de Uso del Servicio: </b> El uso del Servicio está sujeto a las normas que se establecen en este apartado. Su incumplimiento puede dar lugar a la suspensión o cancelación de su acceso al Servicio y en la eventual adopción de acciones
            legales de parte del Titular. <b>i. Requisitos: </b>El Usuario deberá ser una persona capaz conforme la Ley Argentina, y deberá inscribirse con su propio nombre, y demás datos personales que se le requieran. El Usuario deberá informar al Titular
            lo antes posible cualquier cambio en la información provista en ocasión de su inscripción. <br><br> <b>ii. Clave de Acceso: </b>la inscripción puede exigir que el Usuario se identifique ("USER ID") y que registre una Clave Personal (la "Clave
            Personal") elegida por el propio Usuario. El Titular se reserva el derecho de rechazar o modificar la Clave Personal elegida en caso que la misma afecte principios de convivencia, la moral y las buenas costumbres.<br><br> <b>iii. Comunicaciones On-line: </b>            El Usuario reconoce que las comunicaciones on-line transcurren en tiempo real y no pueden ser controladas por el Titular. Sin perjuicio de ello, el Titular se reserva el derecho de excluir cualquier comunicación que considere ofensiva o violatoria
            a esta Política. <br><br> <b>iv. Está prohibido al Usuario: </b>(a) Transmitir mensajes anónimos o bajo un seudónimo. (b) Transmitir mensajes o información injuriosa, intimidatoria, engañosa, difamatoria, obscena, o que viole el derecho a
            la intimidad o la propiedad intelectual o industrial de terceros, o que pueda resultar perjudicial para éstos o para el Titular. El Titular no pretende desalentar el derecho de libre expresión, pero se reserva el derecho de tomar las acciones
            que correspondan en caso que el Servicio sea utilizado para difundir información de este tipo. (c) interferir en el uso del Servicio a otros Usuarios. (d) transmitir archivo/s que contenga/n virus o cualquier otro elemento contaminante o destructivo.
            (e) enviar e-mails no solicitados en forma masiva a otros Usuarios.<br><br> <b>v. Acceso: </b>Los Usuarios no deben permitir la utilización de su cuenta por terceros. Toda información que se envíe utilizando la cuenta del Usuario será considerada
            enviada por éste.

        </p>


        <p><b>7. Política de Privacidad Online: </b> Este apartado tiene por objeto informar al Usuario acerca de la política que Libereco sigue en relación a sus Datos Personales tal como se lo define en la Ley de Protección de Datos Personales N 25.326
            (“la Política”). <br><br> Esta Política puede ser modificada por múltiples razones, como ser el empleo de nuevas tecnologías de procesamiento o tratamiento de sus datos o información, los cambios que pudiéramos introducir en nuestras Apps
            o a nuestros sistemas de marketing. <br><br> Toda vez que modifiquemos esta Política, la misma será actualizada en nuestros servicios, de modo que Ud. pueda ejercer sus derechos conforme a la Ley de Protección de Datos Personales No 25.326
            (Art. 5, Sgtes, y CC). <br><br> Si Ud. tiene alguna pregunta respecto a nuestra Política de Privacidad, por favor escríbanos a: info@liberecohelados.com.ar <br><br>
            <b>7.1. Información Personal: </b> <br><br> www.liberecohelados.com.ar, sólo utilizará los datos referidos a su identidad como usuario, entendiéndose por tal su nombre, dirección, teléfono, y dirección de e-mail para los fines solicitados
            por Ud.Al aceptar estos Términos y Condiciones, Ud. ha dado su consentimiento del modo establecido en el Artículo 5 de la Ley de Protección de Datos Personales. De este modo, Ud. autoriza expresamente a que el Titular trate, ceda o transfiera
            sus Datos Personales a terceros que presten servicios al Titular a los fines del objeto con que se registraron tales datos.
            <br><br>
            <b>7.2 Envío de mensajes: </b> <br><br> Libereco, podrá enviarle mensajes destinados a confirmar su inscripción a cualquiera de los Servicios, o notificarle cualquier modificación de los Términos y Condiciones de las Apps referidas anteriormente
            o de esta Política de Privacidad. <br><br> Libereco podrá enviarle e-mails informando o promocionando Servicios. <br><br> Si desea estar incluido en la lista de personas a quienes se envía ese tipo de mensajes, deberá indicarlo marcando “opt-in”
            cuando nos proporcione sus Datos Personales. <br><br> Por el contrario, si Ud. deseara ser excluido de esa lista, al inscribirse deberá marcar “opt-out”. Si Ud. hubiera elegido “opt-in”, podrá en cualquier momento seleccionar “opt-out”, siguiendo
            el procedimiento indicado al final de este Apartado. <br><br> En determinadas circunstancias, y dadas las características de la tecnología utilizada en nuestra App, si Ud. no eligiera “opt-in” al inscribirse, o si posteriormente eligiera “opt-out”,
            podría verse privado de algunos de los beneficios para los que se requieren contar con sus Datos Personales. <br><br>

            <b>7.3 Excepciones a la reserva de los Datos Personales y otras informaciones: </b> <br><br> En cumplimiento de la Ley de Protección de Datos Personales N 25.326, Art. 5, Siguientes. y CC. el Usuario entiende y acepta expresamente que quedan
            exceptuados del compromiso de reserva los Datos Personales en aquellas ocasiones donde una orden judicial, o una autoridad administrativa que razonablemente consideremos que posee competencia, la solicite. <br><br> Finalmente, le rogamos que
            tome en cuenta que al suministrar cualquier información sobre su persona a través de comunicaciones on-line, como por ejemplo en los Boletines de Mensajes o en cadenas de emails, o salas de chateo, dicha información puede eventualmente ser
            recopilada y utilizada por terceros sin su consentimiento. <br><br> Aún cuando el Titular realiza sus mejores esfuerzos en proteger su privacidad, y proteger sus Datos Personales conforme a la Ley de Protección de Datos Personales No 25.326
            habiendo registrado –entre otras tareas- la base de datos por ante la Dirección Nacional de Protección de Datos Personales, no podemos garantizar la seguridad de la información que Ud. suministre a través de comunicaciones on-line, y por lo
            tanto corre por su cuenta el revelar esa información por esos medios.<br><br>

            <b>7.4 Privacidad de los niños: </b>

            <br><br> Dado que los menores de edad pueden no estar en condiciones de comprender nuestra Política, ni decidir válidamente sobre las opciones disponibles, instamos a todos los padres, o tutores o adultos a cargo de los menores que accedan
            a las Apps de www.liberecohelados.com.ar, a que participen activamente en las actividades que el menor realice en Internet, y que les enseñen cómo proteger su privacidad.<br><br> La administración de las Apps www.liberecohelados.com.ar ha
            adoptado las siguientes medidas para proteger la privacidad de sus usuarios menores de edad: <br><br> a. Los menores de edad no deberán remitir a las Apps de www.liberecohelados.com.ar, ningún tipo de Datos Personales sin el previo consentimiento
            de sus padres o tutores. En todos los casos el Titular entiende que el menor lo ha hecho con el consentimiento de sus padres o tutores, y ante cualquier inconveniente ellos serán los responsables ante el Titular o terceros.<br><br> b. Los
            usuarios menores no podrán estar inscriptos en las Apps de www.liberecohelados.com.ar por su cuenta. c. Los Datos Personales de los menores no serán utilizados con fines promocionales o de marketing por el Titular, salvo que estos resulten
            en respuesta a solicitudes de información que los menores efectuasen sobre actividades que brinda el titular.<br><br>

            <b>7.5 Cookies: </b><br><br> Mediante la tecnología Cookie o el rastreo IP, www.liberecohelados.com.ar puede acceder a cierta información del Usuario ("Información No Específica").<br><br> A la fecha, la Información No Específica que recopilamos
            consiste en información sobre el navegador que utiliza, el tipo de computadora, sus sistemas operativos, sus proveedores del servicio de Internet, las secciones de nuestra App que Ud. visita, los vínculos que Ud. establece y otra información
            de características similares. La Información No Específica es utilizada sólo por nosotros o los operadores de nuestra App, a fin de conocer cuáles son las áreas preferidas de nuestra App, qué tecnología se está utilizando, y tratar de este
            modo de mejorar constantemente nuestro Servicio. <br><br> Eventualmente, y en cumplimiento de la Ley de Protección de Datos Personales, No 25.326, Art. 28 y cc. podremos disociar esta información con fines estadísticos, pero en ningún caso
            compartiremos con terceros sus Datos Personales conforme lo establece la Ley 25.326. <br><br> Su navegador, al igual que otros, puede estar programado para aceptar Cookies. En tal caso, si Ud. no desea brindar Información No Específica, puede
            programar su navegador para rechazar Cookies, o para avisar cuando una App intenta enviarle Cookies. <br><br> En tal caso, tome en cuenta que algunas Apps de Internet, así como algunas de las secciones de la App de www.liberecohelados.com.ar
            pueden no funcionar correctamente.<br><br>

            <b>8. Aceptación de estos términos: </b>
            <br><br> La utilización de cualquiera de los Servicios de las Apps www.liberecohelados.com.ar, importa la aceptación de nuestra Política de Privacidad. Si Ud. no está de acuerdo con esta política, por favor no utilice la App Libereco. <br><br>            De igual forma, si UD. continua haciendo uso de la App www.liberecohelados.com.ar después de que hayamos hecho cualquier modificación a esa Política, ello importará su aceptación a esas modificaciones.

            <br><br>

            <b>9. Jurisdicción competente y ley aplicable: </b><br><br> Toda cuestión entre el Titular y el Usuario estará regida por las leyes de la República Argentina, con exclusión de toda norma que remita a la aplicación de una ley extranjera. Cualquier
            controversia será sometida a los Tribunales Ordinarios de la Ciudad de Buenos Aires<br><br>

            <b>10. Versión: </b>
            <br><br> Los Términos y Condiciones generales incluidos en el presente se corresponden con la versión 1.0


        </p>
        <app-footer></app-footer>
    </div>
    <app-footer-repeat></app-footer-repeat>
</div>