.img-sabor {
    height: 30px;
    float: left;
}

.center {
    width: 100%;
    text-align: center;
}

.filter {
    padding:8px;
    margin: 10px 0px 15px 2px;
    width: 30%;
    border-radius: 12px;
    border: 1px solid gray;
}