<div class="row text-left mb-4">
    <div class="col-12">
        <div class="content-header">Categorias de Sabores</div>
    </div>
</div>
<form [formGroup]="campoForm">
    <div class="col-xl-12 col-lg-6 col-md-12 mb-3">
        <div class="row">
            <div class="col-xl-6 col-xs-12">
                <fieldset class="form-group">
                    <label>Nueva Categoria</label>
                    <input type="text" class="form-control" formControlName="nombre" id="inputCampo" placeholder="Ingrese el nombre del Campo">
                </fieldset>
            </div>
            <div class="col-xl-6 col-xs-12">
                <a class="btn btn-raised btn-primary shadow-z-2 mt-3" (click)="nuevaCategoria()">Agregar</a>
            </div>
        </div>
    </div>
</form>
<div class="card">
    <div class="card-content">
        <div class="card-body">
            <section id="basic-datatable" class="mb-3">
                <div class="row">
                    <div class="col-sm-12">
                        <ngx-datatable class="bootstrap" [rows]="categorias" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [rowHeight]="60" [headerHeight]="50" [footerHeight]="50" [reorderable]="reorderable" [limit]="10">
                            <ngx-datatable-column name="Nombre">
                                <ng-template let-row="row">
                                    {{row.nombre}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Acciones">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="btn btn-raised btn-danger" (click)='eliminarCategoria(row)'>Eliminar</a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>